body {
    background: white !important;
}

.navbar {
    background: linear-gradient(55deg, #ffaa32 0%, #ff673c 100%)
}

.nav-link,
.navbar-brand {
    color: white;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover,
.navbar-item:hover {
    color: white;
    text-decoration: underline;
}

.navbar-brand:hover {
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    opacity: 100;
    outline: none;
    box-shadow: none;
}

h1 {
    font-size: 3.5rem;
    font-weight: 450;
}

#logo-text {
    font-size: 4.5vw;
}

#upload {
    opacity: 0;
}


#upload-area {
    background-image: url("upload.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 41vw;
    height: 41vw;
    border: white;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    align-self: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}

@media (max-width: 991px) {
    #upload-area{
        width: 35vw;
        height: 35vw;
    }

    .upload-text {
        font-size: 1.5vw;
    }
}

@media (max-width: 767px) {
    #upload-area{
        width: 80vw;
        height: 80vw;
    }

    .upload-text {
        font-size: 3vw;
    }

    .padT {
        padding-top: 20px;
        text-align: center;
    }
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

#img-up {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto
}

#imageResult{
    background-image: url(Lade-Vorschau.svg);
    background-size: contain;
}

#info-icon {
     opacity: 50%;
}

#info-icon:hover {
    opacity: 80%;
}

#info-message {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }