body {
    background: white !important;
}

.navbar {
    background: linear-gradient(55deg, #ffaa32 0%, #ff673c 100%)
}

.nav-link,
.navbar-brand {
    color: white;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover,
.navbar-item:hover {
    color: white;
    text-decoration: underline;
}

.navbar-brand:hover {
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    opacity: 100;
    outline: none;
    box-shadow: none;
}

h1 {
    font-size: 3.5rem;
    font-weight: 450;
}

#logo-text {
    font-size: 4.5vw;
}

#upload {
    opacity: 0;
}


#upload-area {
    background-image: url("upload.svg");
    background-repeat: no-repeat;
    background-size: fill;
    width: 40%
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed #7c7c7c;
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

#img-up {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto
}

#imageResult{
    background-image: url(aug.jpg);
    background-size: contain;
}